body {
    background-color: black;
    color: #fff;
}

::-webkit-scrollbar {
    background-color: transparent;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: #34394f;
}

@import "tailwindcss";